body {
    margin: 0;
    padding: 0;
    height: 100%
}

html {
    height: 100%;
}

a {
    text-decoration: none;
}

#content {
    max-width: 1290px;
    margin: 0 auto;
}

input:focus {
    outline: none;
}

#background {
    background: url(img/background.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-height: 695px;
    max-width:1290px;
    top: 0;
    bottom:0;
}

#header {
    background: url(img/headerLila.png) no-repeat;
    height: 160px;
    width: 100%;
}

#logo {
    width: 120px;
    height:83px;
    display: block;
    margin: 0 auto 0 auto;
    padding-top: 15px;
    position:relative;
}

#shortLinks {
    height: 20px;
    width: 110px;
    padding: 0.5% 0 0 90%;
}

#shortLink {
    color: white;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 12px;
    margin: 4% 0 0 0;
    float: right;
}

#shortLinks:hover #shortLink {
    text-decoration: underline;
}

#shortLinkText {
    height:100%;
    width: 70%;
    float:left;
}

#slButton {
    height:100%;
    width: 30%;
    float:right;
}

#shortLinkButton {
    float:left;
}

#shortLinkDropDown {
    position:absolute;
    min-height: 20px;
    min-width: 90px;
    background-color: white;
    float: right;
    margin: 0 0 0 90.5%;
    z-index:1;
    opacity:1;
    transition:opacity linear 0.15s;
}

.shortLinkList {
    font-family: sans-serif;
    margin: 5% 0 5% 0;
    font-size: 85%;
    text-align: center;
}

.shortLinkList:hover {
    text-decoration: underline;
}

.newsLink {
    visibility: hidden;
    color: white;
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 15px;
    position: absolute;
    top:10px;
}

.newsLink:hover {
    text-decoration: underline;
}

#newsLink1 {
    left: 26%;
}

#newsLink2 {
    left: 39%;
}

#newsLink3 {
    left: 70%;
}

.menuPics {
    height:34%;
    max-height: 240px;
    width: 100%;
    overflow:hidden;
    font-size: 0;
}

.imageWrapper {
    float:left;
    height: 100%;
    width: 25%;
    position: relative;
}

.menuPicSize {
    height: 100%;
    width: 100%;
}

.boxShadow {
    width: 100%;
    height: 40%;
    left: 0;
    bottom: 0;
    position: absolute;
    -webkit-box-shadow: inset 0 -88px 83px -62px #552;
    box-shadow: inset 0 -88px 83px -62px #552;
    -moz-box-shadow: inset 0 -88px 83px -62px #552;
    -o-box-shadow: inset 0 -88px 83px -62px #552;
    -o-box-shadow: inset 0 -88px 83px -62px #552;
}

.menuLinkWrapper {
    position: absolute;
    bottom: 0;
    margin: 0 0 0 10%;
}

#menuLinkWrapper1 {
    width: 16%;
    height: 56%;
}

#menuLinkWrapper2 {
    width: 65%;
    height: 61%;
}

#menuLinkWrapper3 {
    width: 54%;
    height: 65%;
}

#menuLinkWrapper4 {
    width: 49%;
    height: 55%;
}

#bo {
    position: relative;
    width: 100%;
}

#naringsLiv {
    position: absolute;
    width: 100%;
}

#paverka {
    position: absolute;
    width: 100%;
}

#uppleva {
    position: absolute;
    width: 100%;
}

#arrow1 {
    width: 11%;
    float:right;
    margin: 16% 5% 0 0;
}

#arrow2 {
    width: 11%;
    float:right;
    margin: 16.5% 5% 0 0;
}

#arrow3 {
    width: 13%;
    float:right;
    margin: 15.5% 5% 0 0;
}

#arrow4 {
    width: 11%;
    float:right;
    margin: 16.5% 5% 0 0;
}

.dropDownContent  {
    position: absolute;
    background-color: white;
    width: 100%;
    max-width: 1366px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    height: 380px;
    max-height:1290px;
    z-index:1;
    opacity:1;
    transition:opacity linear 0.15s;
    overflow:hidden;
}

.hide {
    z-index:-1 !important;
    opacity:0 !important;
}

.dropDownBar {
    height: 3%;
    width: 100%;
}

.dropDownBars {
    float:left;
    height: 100%;
    width: 25%;
}

.dropBarsColor1 {
    background-color: rosybrown;
}

.dropBarsColor2 {
    background-color: slategrey;
}

.DropDownCategoryWrapper {
    width: 100%;
    height: 100%;
    overflow:hidden;
}

.dropDownCategory {
    height: 58%;
    width: 20%;
    background-color: lightgrey;
    margin: 2% 2% 0 2.5%;
    float: left;
}

.dropCategoryContent {
    height:80%;
    width:80%;
    margin: 12% auto 0 auto;
    overflow:hidden;
}

.dropCategoryHeading {
    width: 100%;
    min-height: 14%;
}

.dropHeadingText {
    width:100%;
    height: 60%;
    font-family: sans-serif;
    font-size: 90%;
    color: grey;
}

.dropHeadingText:hover {
    text-decoration: underline;
}

.dropCategoryUnderLine {
    width: 100%;
    height:1%;
    background-color: grey;
}

.dropCategoryTextContent {
    width: 100%;
    height:79%;
}

.dropContentText {
    font-family: sans-serif;
    font-size: 80%;
    margin: 5% 0 0 0;
    font-weight: lighter;
    color: grey;
}

.dropContentText:hover {
    text-decoration: underline;
}

.showMoreButton {
    background-color: darkslategrey;
    border-radius: 2px;
}

#showMoreButton1 {
    height: 11%;
    width: 140px;
    float: right;
    margin: 1% 4% 0 0;
}

#showMoreButton2 {
    height: 10%;
    width: 200px;
    margin: 1% 0 0 63%;
}

#showMoreButton3 {
    height: 12%;
    width: 185px;
    float: right;
    margin: 1% 4% 0 0;
}

#showMoreButton4 {
    height: 12%;
    width: 185px;
    float: right;
    margin: 1% 4% 0 0;
}

.showMoreTextWrapper {
    float: left;
    height: 100%;
    width: 75%;
}

.showMoreButtonWrapper {
    float: right;
    width: 25%;
    height: 100%;
}

.showMoreText {
    height: 100%;
    width: 86%;
    font-family: sans-serif;
    font-size: 75%;
    float:right;
    color: white;
    font-weight: lighter;
}

#showMoreText1 {
    margin: 13% 0 0 0;
}

#showMoreText2 {
    margin: 8% 0 0 0;
}

#showMoreText3 {
    margin: 11% 0 0 0;
}

#showMoreText4 {
    margin: 11% 0 0 0;
}

#moreButton1 {
    margin: 22% 0 0 0;
}

#moreButton2 {
    margin: 12% 0 0 0;
}

#moreButton3 {
    margin: 22% 0 0 0;
}

#moreButton4 {
    margin: 22% 0 0 0;
}

.showMoreButton:hover {
    background-color: steelblue;
    transition: 0s background-color;
    -o-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
}

#dropDownImgWrapper {
    height: 65%;
    width: 30%;
    min-width: 330px;
    margin: 1.5% 0 0 2%;
    overflow:hidden;
}

#imgLink {
    position: absolute;
    margin: 0 0 0 2%;
    color: white;
    font-family: sans-serif;
    font-size: 90%;
    bottom: 30%;
}

#imgLink:hover {
    text-decoration: underline;
}

#dropDownImg {
    height: 100%;
    width: 100%;
    min-width: 330px;
    margin: 2% 0 0 2%;
}
#searchShadow {
    width: 100%;
    height: 120px;
    padding: 40px 0 0 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: solid;
    border-width: 1px;
    border-color: lightgrey;
}

#searchField {
    height: 60px;
    width: 600px;
    margin: 0 auto 0 auto;
}

#searchBarDesktop {
    height: 100%;
    width: 90%;
    float:left;
}

#searchBar {
    height:93%;
    width: 100%;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: gainsboro;
    font-size: 17px;
    padding: 0 0 0 3%;
}

.searchButton {
    height: 96%;
    width: 10%;
    background-color: yellow;
}

#searchButtonDesktop {
    float: right;
}

#searchButtonMobile {
    display: none;
}



#searchIconDesktop {
    display: block;
    margin: 15% auto 0 auto;
}

#searchIconMobile {
    margin: 6px 0 0 6px;
    z-index: 3;
    display: none;
}

#mostSearchedField {
    height:32px;
    width: 566px;
    margin: 0 auto 0 auto;
}

#mostSearched {
    height: 100%;
    width: 10%;
    float:left;
}

#searched {
    margin: 20% 0 0 0;
    font-family: sans-serif;
    font-size: 12px;
    font-weight: lighter;
    color: dimgrey;
}

#searchedLinks {
    height: 100%;
    width: 73%;
    float:left;
}

.mostSearchedBoxes {
    margin: 1.5% 0 0 1%;
    height: 100%;
    float:left;
}

.mostSearchedLink {
    background-color: lightslategrey;
    border-radius: 2px;
    min-height:16px;
    font-size: 11px;
    font-family: sans-serif;
    font-weight: lighter;
    padding: 5px 5px 5px 5px;
    color: white;
    text-align: center;
}

.mostSearchedLink:hover {
    background-color: darkslategrey;
    transition: 0s background-color;
    -o-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
}

#showMore {
    width: 11%;
    height: 100%;
    float: left;
}

#showMore:hover #showMoreLink {
    text-decoration: underline;
}

#showMoreLinkBox {
    width: 61%;
    height: 100%;
    margin: 18% 0 0 0;
    float:left;
}

#showMoreButtonBox {
    width: 33%;
    height: 100%;
    float:right;
}

#showMoreLink {
    color: grey;
    font-family: sans-serif;
    font-size: 10px;
    float: right;
}

#showMoreButton {
    margin: 22% 0 0 0;
    float:right;
}

#leftContent {
    min-height:400px;
    width: 49%;
    float: left;
    border-right: solid;
    border-width: 1px;
    border-color: lightgrey;
}

#rightContent {
    min-height: 400px;
    width: 50%;
    float: right;
}

#newsContent1 {
    height: 350px;
    width: 70%;
    float:right;
    margin: 5% 0 0 0;
}

#newsContent2 {
    height: 350px;
    width: 70%;
    margin: 5% 0 0 0;
}

.titleBox {
    height: 60px;
    width:103%;
    overflow:hidden;
    position:relative;
    float:right;
}

.newsTitle {
    position: absolute;
    bottom:0;
    font-family: sans-serif;
    font-size: 85%;
    font-weight: 600;
    color: black;
    height:25%;
    width: 75%;
    margin: 0 0 0 30%;
}

.news:hover {
    text-decoration: underline;
}

.dateBox {
    height: 83%;
    width: 25%;
    float:left;
}

.dates {
    float: right;
}

.infoMargin1 {
    margin: 19% 0 0 0;
}

.infoMargin2 {
    margin: 4.6% 0 0 0;
}

.infoMargin3 {
    margin: 42% 0 0 0;
}

.infoMargin4 {
    margin: 4% 0 0 0;
}


.infoContent {
    height: 83%;
    width: 72%;
    float:right;
}

.infoStyle {
    font-size: 80%;
    font-family: sans-serif;
    color:darkslategrey;
}

.infoHeight1 {
    min-height: 50px;
}

.infoHeight1:hover {
    text-decoration:underline;

}

.infoHeight2 {
    min-height: 35px;
}

.infoHeight2:hover {
    text-decoration: underline;
}

.infoHeight3 {
    min-height: 20px;
}

.infoHeight3:hover {
    text-decoration: underline;
}

#infoButton {
    height:28px;
    width: 120px;
    background-color: white;
    margin: 5% 0 0 0;
    border-radius: 2px;
    border: solid;
    border-width: 1px;
    border-color: darkgrey;
}

#infoButton:hover {
    background-color: darkgrey;
    border-color: grey;
    transition: 0s background-color;
    -o-transition:.2s;
    -moz-transition:.2s;
    -webkit-transition:.2s;
}

#infoButton:hover #ibt {
    text-decoration: underline;
    color:white;
}

#infoLink {
    height:24px;
    width: 120px;
}

#infoLink:hover #ilt {
    text-decoration: underline;
}

.infoButtonText {
    height: 100%;
    width: 75%;
    float:left;
}

.infoButtonButton {
    height: 100%;
    width: 25%;
    float:right;
}

#ibt {
    font-family: sans-serif;
    font-size: 70%;
    float:right;
    color: darkslategrey;
    font-weight: 500;
    margin: 8% 0 0 0;
}

#ibb {
    float:left;
    margin: 5% 0 0 0;
}

#ilt {
    font-family: sans-serif;
    font-size: 70%;
    float:right;
    margin: 5% 0 0 0;
    color: darkslategrey;
}

#ilb {
    float:left;
    margin: 0 0 0 0;
}

@media (max-width: 1200px) {
    #showMoreButton2 {
        margin:1% 0 0 62%;
    }
}

@media (max-width: 1110px) {

    #shortLinks {
        padding: 0.5% 0 0 89%;
    }

    #showMoreButton2 {
        margin:1% 0 0 62%;
    }

    #shortLinkDropDown {
        margin: 0 0 0 89.7%;
    }
}

@media (max-width: 1020px) {


    #shortLinks {
        padding: 0.5% 0 0 88%;
    }

    #arrow1 {
        left: 82%;
    }
    #arrow2 {
        left: 84%;
    }

    #arrow3 {
        left: 82%;
    }

    #arrow4 {
        left: 82%;
    }

    #shortLinkDropDown {
        margin: 0 0 0 88.7%;
    }
}

@media (max-width: 940px) {

    #shortLinks {
        padding: 0.5% 0 0 87%;
    }

    #shortLinkDropDown {
        margin: 0 0 0 87.7%;
    }
}

@media (max-width: 870px) {

    #shortLinks {
        padding: 0.5% 0 0 86%;
    }
    #shortLinkDropDown {
        margin: 0 0 0 86.7%;
    }
}

@media (max-width: 800px) {

    #shortLinks {
        padding: 0.5% 0 0 85%;
    }

    #shortLinkDropDown {
        margin: 0 0 0 85.7%;
    }
}

@media (max-width: 750px) {

    #shortLinks {
        padding: 0.5% 0 0 84%;
    }

    #shortLinkDropDown {
        margin: 0 0 0 84.9%;
    }
}

@media (max-width: 700px) {

    #logo {
        padding-top: 40px;
    }

    #shortLinks {
        display: none;
    }

    #shortLinkDropDown {
        display: none;
    }

    #background {
        display: none;
    }

    #shortLinkButton {
        display: none;
    }

    .menuPics {
        max-height:2090px;
        height: 250%;
        width: 100%;
        overflow: visible;
    }

    .imageWrapper {
        font-size: 0;
        float: none;
        height: 25%;
        width: 100%;
    }

    #menuShadow {
        display: none;
    }

    #searchBar {
        display: none;
    }

    #searchShadow {
        display: none;
    }

    #searchButtonDesktop {
        display: none;
    }

    #searchButtonMobile {
        display: block;
    }

    .searchButton {
        height: 50px;
        width: 50px;
        position: fixed;
        right: 0;
        z-index: 1;
    }

    #searchIconDesktop {
        display:none;
    }

    #searchIconMobile {
        display: block;
        margin: 7px auto 0 auto;
    }
}

@media (max-width: 550px) {

    .newsLink {
        font-size: 11px;
    }
    #newsLink3 {
        left: 66%;
    }
}

@media (max-width: 470px) {

    #newsLink3 {
        left: 71%;
    }

}